SmallBox_Client/Service References/ServiceCloudReference/ServiceCloud1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31838/ServiceCloud.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceCloud" />
  <xs:import schemaLocation="http://localhost:31838/ServiceCloud.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="CreateDirectoryStruct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDirectoryStructResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainerUri">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContainerUriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContainerUriResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceCloud" minOccurs="0" name="GetDirectoriesResult" nillable="true" type="q1:ArrayOfBlobs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFilesInDir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlobRef" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFilesInDirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceCloud" minOccurs="0" name="ListFilesInDirResult" nillable="true" type="q2:ArrayOfBlobs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadFileInBlob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sBlobRef" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadFileInBlobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadFileFromStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="stream" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadFileFromStreamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBlobAsStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="directoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBlobAsStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="DownloadBlobAsStreamResult" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>